# DAT210x - Programming with Python for DS

## Module2 - Lab3

In [1]:
# Import and alias Pandas
import pandas as pd

Often, you will want to load a dataset that is missing explicit header labels. You won't know if your data lacks headers or not unless you load it up and examine the headers to see if they make sense. Pandas by default reads in the first row of data as the header. If that isn't the case for your specific data set, you will lose your first data row. Be careful!

Load up the `Servo.data` dataset. Examine the headers, and adjust them as necessary, if need be.

In [8]:
df = pd.read_csv("E:/python_for_DS/DAT210x/Module2/Datasets/servo.data", header=None, names=['motor', 'screw', 'pgain', 'vgain', 'class'])

Let's try experimenting with some slicing. Create a slice that contains all entries that have a vgain equal to 5. Then print the length of (# of samples in) that slice:

In [32]:
df[df.vgain==5].describe()

       pgain  vgain      class
count   22.0   22.0  22.000000
mean     6.0    5.0   0.511366
std      0.0    0.0   0.138050
min      6.0    5.0   0.281251
25%      6.0    5.0   0.440627
50%      6.0    5.0   0.506252
75%      6.0    5.0   0.543753
max      6.0    5.0   0.806255

Create a slice that contains all entries having a motor equal to E and screw equal to E. Then print the length of (# of samples in) that slice:

In [33]:
df_slice = df[(df.motor == 'E') & (df.screw == 'E')]
df_slice.describe()

          pgain     vgain     class
count  6.000000  6.000000  6.000000
mean   4.166667  2.833333  0.618752
std    1.169045  1.471960  0.325361
min    3.000000  1.000000  0.281251
25%    3.250000  2.000000  0.337501
50%    4.000000  2.500000  0.603127
75%    4.750000  3.750000  0.807816
max    6.000000  5.000000  1.100000

Create a slice that contains all entries having a pgain equal to 4. Use one of the various methods of finding the mean vgain value for the samples in that slice. Once you've found it, print it:

In [30]:
df[df.pgain==4].describe()

       pgain      vgain      class
count   66.0  66.000000  66.000000
mean     4.0   2.060606   0.673298
std      0.0   0.820484   0.314105
min      4.0   1.000000   0.131250
25%      4.0   1.000000   0.365627
50%      4.0   2.000000   0.712504
75%      4.0   3.000000   0.956256
max      4.0   3.000000   1.218740

Here's a bonus activity for you. See what happens when you display the `.dtypes` property of your dataframe!

In [ ]:
# .. your code here ..